:root {
    --mainfont: Helvetica;
    --darkgrey: #333;
    --darkblue: #2c3e50;
    --blue: #34495e;
    --lightblue: #adc2e4;
    --red: #a83838;
}

* {
    text-align: center;
    transition: 200ms;
    font-family: var(--mainfont);
    margin: auto;
}

header, section {
    margin: 50px auto;
    font-weight: bold;
    font-size: 2rem;
    color: var(--darkblue);
}

footer {
    margin-top: 50px;
    font-size: 0.8rem;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--blue);
    color: #fff;
    border: 6px solid var(--darkblue);
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board > span {
    cursor: pointer;
    border: 6px solid var(--darkblue);
    border-radius: 2px;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.italic {
    font-style: italic;
}

.game_status {
    position: absolute;
    left: 50%;
    opacity: 0.95;
}

.game_status_inner {
    position: relative;
    top: 150px;
    left: -50%;
    border: none;
    border-radius: 20px;
    padding: 50px;
    background: var(--darkgrey);
    font-size: 3.5rem;
}

.line_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#line {
    stroke: greenyellow;
}

.btn {
    cursor: pointer;
    background: var(--lightblue);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
}

.btn:hover {
    background: var(--blue);
    color: white;
}

/* footer links */
footer > a {
    text-decoration: none;
}

/* footer icons */
footer > a > img {
    height: 50px;
    width: 50px;
    opacity: 0.6;
}

/* footer icons hover */
footer > a > img:hover {
    opacity: 1.0;
}
